@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}


body {
    background-color: transparent;
}
    
/*nota, since classname navbar-expand-sm navbar-light bg-light is not just "navbar" then 
we cant just use .navbar { ..}. 
since this class name has spaces.
so, we need to use only the bg-light portion of it*/
.bg-light {
    text-align: center;
    vertical-align: middle;
    display: flex; 
    white-space:nowrap;
    padding: 1em;
    background-color: transparent;

    border-bottom:1px solid rgb(226, 226, 226);
    border-bottom-width: thin;
    height:7vw;
}
.container {
    text-align: center;
    vertical-align: middle;
    display: flex;
    padding: 1em; 
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;

    height:5vw;
}


.menu {
    display:flex;
    flex-wrap: wrap;
    background-color: transparent;
    position: fixed;
    background-position: center;
    border-radius: 0px;
    width: 100%;
    /*not sure why logo image requires height > 50px*/
    height: 100%;
    display: inline-block;
    justify-content: space-between;
    padding: 0;
    position: relative;
    top: 0%;
    /*this parameter belo wis how to move the menu items up or bottom*/
    /*e.g. margin-top: -2.5em;*/
    margin-top: 0;
}



.center {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.btn{

      font-size: 1vw;
        text-align: center;
        margin: auto;
        padding: 0px;
}

button{
    display:flex;
    flex-wrap: wrap;
   
    padding: 1em; 
    flex-wrap: wrap;
    text-align: center;
    
    background-size: contain;
    width: 5vw;
    height: 3vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    vertical-align: middle;
    text-align: center
    /*
    object-fit: cover;
    
  
    */
}


.text-light{
    display:flex;
    flex-wrap: wrap;
    font-size: 1.19vw;
    line-height: .5vw;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    vertical-align: middle;

}

strong{
    display:flex;
    flex-wrap: wrap;
    font-size: 1.3vw;
   
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    vertical-align: middle;

}

.nav-item{

    background-size: contain;
}
.menu__logo {
    
    display: flex;
    position: fixed;
  object-fit: cover;
  width: 22vw;
  height: 22vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* takes up 80% of screen
@media (min-width:1025px) { .container { width: 80% !important;} }*/
@media only screen and (min-width:240px) and (max-width: 992px)  {
    .navbar .container .menu {
       width:100%;
       font-size: 9px;
      }
    
    }
    